<div class="meal-list">
  <div class="meals">
    <app-meal
      *ngFor="let mealEl of meals"
      [meal]="mealEl"
      (changesSavedInfo)="onChangesSaved($event)"
    ></app-meal>
    <p *ngIf="!meals.length">Trenutno nemate nijedan obrok!</p>
  </div>
  <div class="meals-advanced">
    <app-meal-calendar
      (filterApplied)="onFilterApplied($event)"
    ></app-meal-calendar>
    <app-meal-expected-calories></app-meal-expected-calories>
  </div>
</div>

<button (click)="onMealAdd()" class="button-add">+</button>
