<div class="meal-list">
  <div class="meals">
    <app-meal
      *ngFor="let mealEl of meals"
      [meal]="mealEl"
      (changesSavedInfo)="onChangesSaved($event)"
    ></app-meal>
    <p *ngIf="!meals.length && !filterApplied">
      You don't have any meals currently!
    </p>
    <p *ngIf="filterApplied && !meals.length">
      You don't have meals for a given criteria!
    </p>
  </div>
  <div class="meals-advanced">
    <app-meal-calendar
      (filterApplied)="onFilterApplied($event)"
    ></app-meal-calendar>
    <app-meal-expected-calories></app-meal-expected-calories>
  </div>
</div>

<button (click)="onMealAdd()" class="button-add">+</button>
