<div class="heading-wrapper">
  <h2 class="modal-heading">Forgot password?</h2>
</div>
<div class="content-wrapper">
  <p *ngIf="!emailSent" class="modal-info">
    Enter the email address you used when you joined and we'll send you instructions to reset your
    password.
  </p>
  <form *ngIf="!emailSent" class="modal-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <input
      type="email"
      id="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Enter Your Email" />
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <button type="submit" class="modal-button">Send Reset Link</button>
  </form>
  <p *ngIf="emailSent" class="modal-info">{{ emailSentMessage }}</p>
  <button (click)="onRedirect()" class="button-redirect">Back to Log in</button>
</div>
