<form
  class="user"
  [ngClass]="{ 'user-edit': !changesSaved }"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <img
    *ngIf="user.userPhotoByte"
    [src]="userImage"
    class="user__image"
    alt="User-image"
  />

  <label for="email">Email:</label>
  <input
    [ngStyle]="{ color: changesSaved === true ? '#fff' : '#2ecc71' }"
    formControlName="email"
    id="email"
    type="text"
  />
  <label for="firstName">First Name:</label>

  <input
    [ngStyle]="{ color: changesSaved === true ? '#fff' : '#2ecc71' }"
    formControlName="firstName"
    type="text"
    id="firstName"
  />

  <label for="lastName">Last Name:</label>

  <input
    [ngStyle]="{ color: changesSaved === true ? '#fff' : '#2ecc71' }"
    formControlName="lastName"
    type="text"
    id="lastName"
  />
  <label for="caloriesPreferencee">Calories Preference:</label>

  <input
    [ngStyle]="{ color: changesSaved === true ? '#fff' : '#2ecc71' }"
    [formControlName]="'caloriesPreference'"
    type="text"
    id="caloriesPreference"
  />

  <button class="btn-submit btn" type="submit" (click)="onUserConfirm()">
    <svg
      class="icon-confirm"
      [ngClass]="{
        'display-none': changesSaved,
        icon: changesSaved,
        'icon-edit-mode': !changesSaved
      }"
    >
      <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
    </svg>
  </button>

  <button class="btn-edit btn" (click)="onUserEdit()">
    <svg
      class="icon-edit"
      [ngClass]="{
        'display-none': !changesSaved,
        icon: changesSaved,
        'icon-edit-mode': !changesSaved
      }"
    >
      <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
    </svg>
  </button>

  <button class="btn-delete btn" (click)="onUserDelete()">
    <svg
      class="icon-delete"
      [ngClass]="{
        icon: changesSaved,
        'icon-edit-mode': !changesSaved,
        'display-none': !changesSaved
      }"
    >
      <use xlink:href="/assets/sprite.svg#icon-bin"></use>
    </svg>
  </button>
</form>
