.header {
  width: 100vw;
  height: 60px;
  padding: 10px;
  background-color: #2ecc71;
  display: flex;
  align-items: center;

  &__logo {
    a {
      color: #fff;
      font-size: 18px;
    }
  }

  &__nav {
    margin-left: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-left: 15px;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
  }
}
