.header {
  width: 100vw;
  height: 60px;
  padding: 10px;
  background-color: #2ecc71;
  display: flex;
  align-items: center;
  position: relative;

  &__logo {
    a {
      color: #fff;
      font-size: 18px;
    }
  }

  &__nav {
    margin-left: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-left: 15px;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
  }
}

.button {
  all: unset;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}
