<nav class="header-nav">
  <ul class="header-list">
    <li class="header-item" *ngIf="isAuthenticated && role === 'Administrator'">
      <a class="header-link" routerLink="/manager/user-list">All Users</a>
    </li>
    <li class="header-item" *ngIf="isAuthenticated">
      <a class="header-link" routerLink="/meals">Meals</a>
    </li>
    <li class="header-item" *ngIf="!isAuthenticated">
      <a class="header-link" routerLink="/auth">Authentication</a>
    </li>
    <li class="header-item" *ngIf="isAuthenticated">
      <a class="header-link" routerLink="/profile/settings">Profile</a>
    </li>
  </ul>
</nav>
<!-- FIXME: -->
<button class="auth-button" *ngIf="isAuthenticated" (click)="onSignOut()">
  Sign Out
</button>
