@import "/src/styles.scss";

.header {
  height: 80px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #2ecc71;

  @include respond(phone) {
    padding-top: 20px;
    height: auto;
  }

  &__nav {
    display: flex;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    margin-left: 15px;
    transition: all 0.2s;
  }

  &__item:hover {
    transform: translateY(-2px);
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-green-primary);
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
  }
}

.button {
  all: unset;
  color: var(--color-green-primary);
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
