<form class="calories-form" #form="ngForm">
  <div class="calories-wrapper">
    <label for="calories">Your calories:</label>
    <input
      [disabled]="!isEditMode"
      ngModel
      type="number"
      min="0"
      (input)="onInput($event)"
      name="caloriesPreference"
      id="caloriesPreference"
      [(ngModel)]="caloriesPreference" />
    <button
      *ngIf="isEditMode"
      class="btn-submit btn"
      type="submit"
      (click)="onCaloriesConfirm()">
      <svg class="icon icon-confirm">
        <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
      </svg>
    </button>
    <button *ngIf="!isEditMode" class="btn-edit btn" (click)="onCaloriesEdit()">
      <svg class="icon icon-edit">
        <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
      </svg>
    </button>
  </div>
</form>
