<form class="form">
  <h2>Sign in to your account</h2>
  <div class="form__group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="form__input"
      placeholder="Enter your email"
    />
  </div>
  <div class="form__group">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="form__input"
      placeholder="Enter your password"
    />
  </div>
  <button type="button" class="form__button">Sign in</button>
</form>
