<ct-meal-list [meals]="meals"> </ct-meal-list>
<p *ngIf="!meals.length && mealsFetched && !filterApplied">
  {{ 'label.no-meals-currently' | translate }}
</p>
<p *ngIf="filterApplied && !meals.length">
  {{ 'label.no-meals-for-given-criteria' | translate }}
</p>
<div class="meals-calendar">
  <ct-meal-calendar (filterApplied)="onFilterApplied($event)"> </ct-meal-calendar>
  <ct-meal-expected-calories></ct-meal-expected-calories>
</div>

<button (click)="onMealAdd()" class="button-add">+</button>
