<form class="meal-form" [ngClass]="{ 'meal-form-edit': isEditMode }" #form="ngForm">
  <div class="form-inputs">
    <label for="mealName">{{ 'label.meal' | translate }}:</label>
    <input
      [disabled]="isDisabled"
      type="text"
      id="mealName"
      name="mealName"
      ctNullToEmpty
      [(ngModel)]="meal.name" />

    <label for="calories">{{ 'label.calories' | translate }}:</label>
    <input
      [disabled]="isDisabled"
      type="number"
      (input)="onInput($event)"
      id="calories"
      name="calories"
      [(ngModel)]="meal.calories" />

    <label for="date">{{ 'label.date' | translate }}:</label>
    <input
      [disabled]="isDisabled"
      type="date"
      id="date"
      name="date"
      ctNullToEmpty
      [(ngModel)]="mealDate" />

    <label for="date">{{ 'label.time' | translate }}:</label>
    <input
      type="time"
      [disabled]="isDisabled"
      id="time"
      ctNullToEmpty
      name="time"
      [(ngModel)]="mealTime" />
  </div>

  <div class="form-icons">
    <button class="btn-submit btn" type="submit" (click)="onMealConfirm()">
      <svg
        class="icon-confirm"
        [ngClass]="{
          'display-none': !isEditMode,
          icon: !isEditMode,
          'icon-edit-mode': isEditMode
        }">
        <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
      </svg>
    </button>
    <button class="btn-edit btn" (click)="onMealEdit()">
      <svg
        class="icon-edit"
        [ngClass]="{
          'display-none': isEditMode,
          icon: !isEditMode,
          'icon-edit-mode': isEditMode
        }">
        <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
      </svg>
    </button>

    <button class="btn-delete btn" (click)="onMealDelete()">
      <svg class="icon-delete" [ngClass]="{ icon: !isEditMode, 'icon-edit-mode': isEditMode }">
        <use xlink:href="/assets/sprite.svg#icon-bin"></use>
      </svg>
    </button>
  </div>
</form>
