@import "/src/styles.scss";

.meal {
  width: 820px;
  height: 100px;
  border-radius: 20px;
  background-color: var(--color-primary);
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(phone) {
    height: auto;
  }

  &__form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
      gap: 25px;
    }

    label {
      color: #fff;
      font-size: 18px;
    }
    input {
      all: unset;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      width: 100px;
      color: #fff;
      border-bottom: 1px solid #fff;

      @include respond(phone) {
        width: 150px;
      }
    }
    input:first-child {
      width: 180px;
    }
    input:last-child {
      width: 110px;

      @include respond(tab-land) {
        width: 130px;
      }

      @include respond(phone) {
        width: 150px;
      }
    }

    input:focus {
      border-bottom: 2px solid #fff;
    }
  }
}

.form {
  &__icons {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  fill: var(--color-white);
  outline: 1px solid #fff;
  outline-offset: 5px;
}

.icon-edit-mode {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
  fill: var(--color-primary);
  outline: 1px solid var(--color-primary);
  outline-offset: 5px;
}

.btn {
  all: unset;
}

.meal-edit {
  width: 820px;

  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--color-primary);

  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(phone) {
    height: auto;
  }

  &__form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-primary);
    @include respond(phone) {
      flex-direction: column;
      gap: 25px;
    }
    label {
      font-size: 18px;
      color: var(--color-primary);
      font-size: 18px;
    }
    input {
      all: unset;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      width: 100px;

      color: var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
      @include respond(phone) {
        width: 150px;
      }
    }
    input:first-child {
      width: 180px;
    }
    input:last-child {
      width: 110px;

      @include respond(tab-land) {
        width: 130px;
      }

      @include respond(phone) {
        width: 150px;
      }
    }
  }
}

.display-none {
  display: none;
}

.form__inputs {
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
