<div class="meal">
  <form class="meal__form form" (ngSubmit)="onFormSubmit()" #form="ngForm">
    <div class="form__inputs">
      <label for="mealName">Meal</label>

      <input
        [disabled]="isDisabled"
        type="text"
        id="mealName"
        name="mealName"
        [ngModel]="meal.mealName"
      />
      <label for="calories">Calories</label>
      <input
        [disabled]="isDisabled"
        type="number"
        id="calories"
        name="calories"
        [ngModel]="meal.calories"
      />
      <label for="date">Date</label>
      <input
        [disabled]="isDisabled"
        type="text"
        id="date"
        name="date"
        [ngModel]="meal.date"
      />

      <label for="date">Time</label>
      <input
        [disabled]="isDisabled"
        type="number"
        id="time"
        name="time"
        [ngModel]="meal.time"
      />
    </div>

    <div class="form__icons">
      <button class="btn-submit btn" type="submit" (click)="onMealConfirm()">
        <svg class="icon-confirm icon">
          <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
        </svg>
      </button>
      <button class="btn-edit btn" (click)="onMealEdit()">
        <svg class="icon icon-edit">
          <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
        </svg>
      </button>

      <button class="btn-delete btn" (click)="onMealDelete()">
        <svg class="icon icon-delete">
          <use xlink:href="/assets/sprite.svg#icon-bin"></use>
        </svg>
      </button>
    </div>
  </form>
</div>
