main {
  display: flex;
  justify-content: center;
  position: relative;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url(../assets/Images/Background.jpg);
  background-size: cover;
  width: 100%;
}
