<form class="calendar-form" (ngSubmit)="onSubmit()" #calendarForm="ngForm">
  <p class="calendar-tip">
    {{ 'label.date-filter-message' | translate }}
  </p>

  <div class="calendar-dates">
    <label for="dateStart">{{ 'label.date-start' | translate }}</label>
    <input type="date" id="dateStart" name="dateStart" [(ngModel)]="dateStart" />
    <label for="dateEnd">{{ 'label.date-end' | translate }}</label>
    <input type="date" id="dateEnd" name="dateEnd" [(ngModel)]="dateEnd" />
  </div>

  <div class="calendar-time">
    <label for="timeStart">{{ 'label.time-start' | translate }}</label>
    <input type="time" id="timeStart" name="timeStart" [(ngModel)]="timeStart" />
    <label for="timeEnd">{{ 'label.time-end' | translate }}</label>
    <input type="time" id="timeEnd" name="timeEnd" [(ngModel)]="timeEnd" />
  </div>

  <button class="btn-search" type="submit">{{ 'label.search' | translate }}</button>
</form>
