<form class="calendar-form" #calendarForm="ngForm">
  <!-- DATE -->
  <div class="calendar-dates">
    <label for="dateStart">Date Start</label>
    <input
      type="date"
      id="dateStart"
      name="dateStart"
      [(ngModel)]="model.dateStart" />
    <label for="dateEnd">Date End</label>
    <input
      type="date"
      id="dateEnd"
      name="dateEnd"
      [(ngModel)]="model.dateEnd" />
  </div>

  <div class="calendar-time">
    <label for="timeStart">Time start</label>
    <input
      type="time"
      id="timeStart"
      name="timeStart"
      [(ngModel)]="model.timeStart" />
    <label for="timeEnd">Time end</label>
    <input
      type="time"
      id="timeEnd"
      name="timeEnd"
      [(ngModel)]="model.timeEnd" />
  </div>

  <button class="btn-search" type="submit">Search</button>
</form>
