<div class="calories-total">
  <!-- FIXME: treba jos ove label-e popraviti, pitati Milosa -->
  <p>
    You had <span>{{ totalMeals }}</span>
    {{ totalMeals > 1 || totalMeals === 0 ? 'meals' : 'meal' }} with total of
    <span>{{ totalCalories }}</span>
    {{ totalCalories > 1 || totalCalories === 0 ? 'calories' : 'calory' }}
  </p>
</div>

<div class="calories-preference" *ngIf="caloriesPreferenceApplied">
  <div *ngIf="todaysCaloriesLeft > 0">
    <p class="calories-goal">
      Today you had <span>{{ todaysMeals }}</span>
      {{ todaysMeals > 1 || todaysMeals === 0 ? 'meals' : 'meal' }} with the total of
      <span>{{ todaysCalories }}</span>
      {{ todaysCalories > 1 || todaysCalories === 0 ? 'calories' : 'calory' }}
      out of
      <span>{{ caloriesPreference }}</span
      >. You have <span>{{ todaysCaloriesLeft }}</span> more
      {{ todaysCaloriesLeft > 1 || todaysCaloriesLeft === 0 ? 'calories' : 'calory' }}
      to go
    </p>
  </div>

  <div *ngIf="todaysCaloriesLeft <= 0">
    <p class="calories-goal">
      Congratulations! You've reached your goal for today! You had
      <span>{{ todaysCalories }}</span> out of <span>{{ caloriesPreference }}</span> calories
    </p>
  </div>

  <form class="calories-progress" #form="ngForm">
    <label for="progress">{{ 'label.your-progress' | translate }}</label>
    <progress id="progress" max="100" value="{{ progressBar }}"></progress>
  </form>
</div>
