<h2 class="auth-heading">
  {{ (isSignInMode ? 'label.signIn' : 'label.signUp') | translate }}
  {{ 'label.to-your-account' | translate }}
</h2>
<form class="auth-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <label for="email">{{ 'label.email' | translate }}</label>
  <input type="email" name="email" placeholder="Enter Your Email" formControlName="email" />
  <span class="form-message" *ngIf="!authForm.get('email').valid && authForm.get('email').touched">
    {{ 'label.valid-email' | translate }}
  </span>

  <label for="password">{{ 'label.password' | translate }}</label>
  <input
    type="password"
    name="password"
    placeholder="Enter Your Password"
    formControlName="password" />
  <span
    class="form-message"
    *ngIf="!isSignInMode && !authForm.get('password').valid && authForm.get('password').touched">
    {{ 'label.valid-password' | translate }}
  </span>

  <div class="sign-up" *ngIf="!isSignInMode">
    <label for="firstName">{{ 'label.name' | translate }}</label>
    <input formControlName="firstName" name="firstName" type="text" placeholder="FirstName" />
    <label for="lastName">{{ 'label.surname' | translate }}</label>
    <input formControlName="lastName" type="text" name="lastName" placeholder="LastName" />
  </div>

  <button type="submit" class="form-button" [disabled]="!authForm.valid">
    {{ (isSignInMode ? 'label.signIn' : 'label.signUp') | translate }}
  </button>

  <div>
    <p class="form-text">
      {{ (isSignInMode ? 'label.no-account' : 'label.already-have-an-account') | translate }}?
      {{ 'label.switch-to' | translate }}
      <button class="auth-switch" type="button" (click)="onSwitchMode()">
        {{ (isSignInMode ? 'label.signUp' : 'label.signIn') | translate }}
      </button>
    </p>
    <button (click)="forgotPassword()" class="forgot-password-button" routerLink="/forgot-password">
      {{ 'label.forgot-password' | translate }}
    </button>
  </div>
</form>

<ct-loading-spinner *ngIf="isLoading"></ct-loading-spinner>
