<div class="heading-wrapper">
  <h2 class="modal-heading">Reset password</h2>
</div>
<div class="content-wrapper">
  <p *ngIf="!passwordSent" class="modal-info">
    Enter the email address you used when you joined and we'll send you instructions to reset your
    password.
  </p>
  <form *ngIf="!passwordSent" class="modal-form" #form="ngForm" (ngSubmit)="onSubmit()">
    <input
      type="password"
      id="password"
      [(ngModel)]="formModel.password"
      name="password"
      placeholder="Enter New Password"
      required
      [pattern]="passwordPattern"
      minlength="6" />
    <input
      type="password"
      id="password2"
      [(ngModel)]="formModel.password2"
      name="password2"
      placeholder="Re-enter New Password To Confirm"
      required
      [pattern]="passwordPattern"
      minlength="6" />

    <p *ngFor="let message of errorMessages" class="error-message">
      {{ message }}
    </p>
    <button type="submit" class="modal-button">Send Reset Link</button>
  </form>
  <p *ngIf="passwordSent" class="modal-info">{{ passwordSentMessage }}</p>
  <button (click)="onRedirect()" class="button-redirect">Back to Log in</button>
</div>
