.calories {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid green;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info {
    margin-bottom: 10px;
    span {
      color: green;
      border-bottom: 1px solid green;
    }
  }

  &__form {
    label {
      margin-right: 15px;
    }

    progress {
      border: 1px solid green;
    }

    progress::-webkit-progress-bar {
      border: 1px solid green;
      background-color: #fff;
    }

    progress::-webkit-progress-value {
      background-color: green;
    }
  }
}

.form {
}
