<div class="profile">
  <div class="info">
    <form class="info__form form" (submit)="onSubmit(form)" #form="ngForm">
      <div class="form__photo">
        <label for="photo">
          <svg class="icon">
            <use xlink:href="/assets/sprite.svg#icon-camera"></use>
          </svg>
          <img
            *ngIf="isPhotoUploaded"
            [src]="imageSrc"
            alt="User Image"
            class="image"
            id="image"
          />
        </label>
        <input
          ngModel
          (change)="onUpload($event)"
          type="file"
          name="photo"
          id="photo"
        />
      </div>

      <div class="form__user-info">
        <label for="name">Name</label>
        <input ngModel type="text" name="name" id="name" />
        <label for="surname">Surname</label>
        <input ngModel type="text" name="surname" id="surname" />
      </div>
    </form>
  </div>
  <div class="settings">
    <nav class="settings__nav">
      <ul class="settings__list">
        <li class="settings__item">
          <a
            routerLinkActive="settings__link-active"
            class="settings__link"
            routerLink="settings"
            >Settings</a
          >
        </li>
      </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
