<div class="profile-info">
  <form class="profile-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="profile-photo">
      <label for="photo">
        <svg class="icon-camera">
          <use xlink:href="/assets/sprite.svg#icon-camera"></use>
        </svg>
        <img [(src)]="imageUrl" class="image" id="image" alt="" />
      </label>
      <input
        (change)="onUploadPhoto($event)"
        #fileInput
        type="file"
        name="photo"
        id="photo"
        accept="image/png, image/jpeg, image/jpg" />
    </div>

    <div class="profile-user-info">
      <label for="firstName">{{ 'label.name' | translate }}</label>
      <input formControlName="firstName" type="text" name="firstName" id="firstName" />
      <label for="lastName">{{ 'label.surname' | translate }}</label>
      <input formControlName="lastName" type="text" name="lastName" id="lastName" />
    </div>

    <button *ngIf="isEditMode" class="btn-submit btn" type="submit">
      <svg class="icon icon-confirm">
        <use xlink:href="/assets/sprite.svg#icon-checkmark"></use>
      </svg>
    </button>
    <button *ngIf="!isEditMode" class="btn-edit btn" (click)="onInfoEdit()">
      <svg class="icon icon-edit">
        <use xlink:href="/assets/sprite.svg#icon-pencil"></use>
      </svg>
    </button>
  </form>
</div>
<div class="profile-settings">
  <nav class="settings-nav">
    <ul class="settings-list">
      <li class="settings-item">
        <a routerLinkActive="settings-link-active" class="settings-link" routerLink="calories">{{
          'label.calories' | translate
        }}</a>
      </li>
      <li class="settings-item">
        <a routerLinkActive="settings-link-active" class="settings-link" routerLink="language">{{
          'label.language' | translate
        }}</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
